1Password/

alacritty/
bolt-launcher/
BraveSoftware/
chromium/
dconf/
discord/
discoverrc
google*
gtk*
htop/
microsoft*
pavucontrol.ini
private*
pulse*
qutebrowser/
user-*
vivaldi*

composer/vendor
composer/composer.lock
composer/.htaccess
lvim/lazy-lock.json
mimeapps.list
QtProject.conf
